body {
    background-color: burlywood;
}

h1 {
    text-decoration: underline;
    letter-spacing: 2px;
}

.header {
    text-align: center;
    margin: auto;
}

.head-image {
    cursor: pointer;
    display: block;
    text-align: center;
    max-width: 100%;
    width: 100%;
    height: 380px;
    margin: auto;
    object-fit: cover;
    object-position: top;
}

.title {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: lightgray;
    width: 980px;
    border: 3px black;
    border-style: solid;
    padding: 30px;
    text-align: center;
    margin: auto;
    box-shadow: 10px 10px 10px grey;
}

.box-space {
    text-align: center;

}

input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 50%;
    padding: 10px;
    float: center;
    font-size: 16px;
}

.addBut {
    padding: 10px;
    cursor: pointer;
    background: grey;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;

}

.addBut:hover {
    background-color: #bbb;
}

.clearBut {
    padding: 10px;
    cursor: pointer;
    background: grey;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.4s;
}

.clearBut:hover {
    background-color: #bbb;
}

.deadlineLabel {
    padding: 10px;
    background: white;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#deadline {
    width: 15%;
    display: inline-block;
    padding: 7px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    width: 980px;
    margin: auto;
    padding-right: 35px;
    padding-top: 20px;
}

ul li {
    cursor: pointer;
    list-style-type: none;
    padding: 12px 2px 15px 40px;
    position: relative;
    background: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.2s;
    margin: 0.5%;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
    transition: 0.2s;
}

.close:hover {
    background-color: #bbb;
}

.dates {
    position: absolute;
    right: 100px;
    top: 14px;
    transition: 0.2s;
}